@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700ydisplay=swap');

:root{
    --primary-color: #4caf50;
    --background-color: #A5D6A7;
    --dark-color: #151515;
}

html{
    font-size: 62.5%;
    font-family: 'poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

UTILIDADES

.container{
    max-width: 120rem;
    margin:0 auto;   
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

HEADER

.container-hero{
    background-color: var(--background-color);
}

.hero{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0:
}

.custumer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.custumer-support{
    font-size: 3.3rem;
}

.content-custumer-support{
    display: flex;
    flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap:.5rem; 
}

.container-logo i{
    font-size: 3rem;
}


.container-logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user-tie{
font-size: 3rem;
color: var(--primary-color);
padding-right: 2.5rem;
border-right: 1px solid #e2e2e2;
}

.container-user .fa-shopify{
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

.content-shopping-cart{
    display: flex;
    padding direction: column;
}

NAVBAR

.container-navbar{
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.navbar.fa-bars{
    display: none;
}

.productos{
    display: flex;
    gap:2rem;
}

.productos li{
    list-style: none;
}

.productos a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.productos a::after{
     content: '';
     width: 1.5rem;
     height: 1px;
     background-color: #fff;
     position: absolute;
     bottom: -3px;
     left: 50%;
     transform: translate(-50%,50%);
     opacity: 0;
     transition: nall.3s ease;
}

.productos a:hover::after{
    opacity: 1;
}

.productos a:hover{
    color: #fff;
}

.search-from{
    position: relative;
    display: flex;
    align-items: center;
    border:2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow: hidden;
}

.search-from input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.search-from input::-webkit-search-cancel-button{
    appearance: none;
}

.search-from .btn-search{
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i{
    font-size: 2rem;
    color: #fff;
}

BANNER

.banner{
    background-image: linear-gradient(100deg, #000000, #00000020), url('img/banner.jpg');
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 90rem;
    margin:  0 auto;
    padding: 25rem 0;
}

.content-banner p{
     color:var(--primary-color);
     font-size: 1.2rem;
     margin-bottom: 1rem;
     font-weight: 500;
}

.content-banner h2{
      color: #fff;
      font-size: 3.5rem;
      font-weight: 500;
      line-height: 1.2;
}
.content-banner a{
     margin-top: 2rem;
     text-decoration: #fff;
     background-color: var(--primary-color);
     display: inline-block;
     padding: 1rem 3rem;
     text-transform: uppercase;
     border-radius: 3rem;
}

MAIN CONTENT 
.main-content{
    background-color: var(--background-color);
}

FEATURES

.container-features{
    display: grid;
    grid-template-colums: repeat(4, 1fr);
    gap:3rem;
    padding: 3rem 0;
}
.card-feature{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem 0;

    background-color: #fff;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-feature i{
    font-size: 2.7rem;
    color: var(--primary-color);
}

.feature-content{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.feature-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color:var(--dark-color)
}

.feature-content p{
    color: #777;
    font-weight: 500 ;
}

CATEGORIES
.top-categories{
    display: flex;
    flex-direction: column;
    gap:2rem;
    margin-bottom: 3rem;
}

.container-cateogries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.card-category{
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap:2rem;
}

.category-adidas{
    background-image: linear-gradient(#00000080, #00000080)
    <img scr="https://assets.adidas.com/images/w_600,f_auto,q_auto/3bbecbdf584e40398446a8bf0117cf62_9366/Tenis_Samba_OG_Blanco_B75806_01_00_standard.jpg" alth="adidas samba">;
    background-size:cover;
    background-position: bottom;
    background-repeat:no-repeat;
}

.category-nike{
    background-image: linear-gradient(#00000080, #00000080)
    <img scr="https://www.innvictus.com/medias/IN-DV0788-001-1.jpg?context=bWFzdGVyfGltYWdlc3w5NTcxNHxpbWFnZS9qcGVnfGFXMWhaMlZ6TDJnd01pOW9NVGN2TVRFME9EUTNORGN3TnpFMU1UZ3VhbkJufGQ4MjRiODljNzcxNWUyZjVmNzI3NmIzMjg5NzA4ZTFlOTE1ZjUzZjhiYWU2NWFjY2IxZTgzZDRlNjE5ZjY5ODU" alth="nike air force one">;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

.category-puma{
    background-image: linear-gradient(#00000080, #00000080)
    <img scr="https://dpjye2wk9gi5z.cloudfront.net/wcsstore/ExtendedSitesCatalogAssetStore/images/catalog/zoom/1034078-0104V1.jpg" alth="puma 180">;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
}

.card-category p{
    font-size: 2.5rem;
    color: #fff;
    text-transform: capitalize;
    position: relative;
}


.card-category p::after{
    content:'';
    width:2.5rem;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom:-1rem;
    left: 50%;
    transform: translate(-50%, 50%);
}


.card-category span{
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
}

.card-category span:hover{
    color: var(--primary-color);
}

TOP PRODUCTS

.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options{
    display: flex;
    justify-content: center;
    gap:2rem;
    margin-bottom: 1rem;
}

.container-options span{
    color: #777;
    background-color: #fff;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options span:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.container-options span.active{
     background-color: var(--primary-color);
    color: #fff;
}

TOP PRODUCTS 

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 3rem;
}


.card-product{
background-color:#fff;
padding: 2rem 3rem;
border-radius: .5rem;
cursor: pointer;
box-shadow: 0 0 .2px rgba(0,0,0,0.1);
}

.container-img{
    position: relative;
}

.container-img{
    width: 100%;
}

.container-img.dicount{
    position: absolute;
    left: 0;
    background-color: var(--primary-color);
    color: #fff;
    pad: 2px 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.card-product:hover.discount{
    background-color: #000;
}
.button-group{
    display: flex;
    flex-direction: column;
    gap:1rem;

    position: absolute;
    top:0%;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
}

.button-group span{
    border: 1px solid var(--primary-color);
    padding: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor:pointer;
    transition: all .4s ease;
}
.button-group span:hover{
    background-color: var(--primary-color);
}

.card-product span i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.button-group span:hover i{
    color: #fff;
    

}

.card-product:hover.button-group{
    z-index:0;
    right: -1rem;
}.
     

.content-card-products{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
    row-gap: 1rem;
}

.stars{
    grid-row: 1/2;
    grid-column: 1/-1;
}

.stars i{
    font-size: 1.3rem;
    color: var(--primary-color);
}

.content-card-products h3{
    grid-row: 2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    cursor: pointer;
}

.content-card-product h3:hover{
    color: var(--primary-color);
}

.add-cart{
    justify-self: start;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease ;

    display: flex;
    align-items: center;
    justify-content: center;
}

.add-cart:hover{
    background-color: var(--primary-color);
}

.add-cart i{
    font-size: 1.5rem;
    color:var(--primary-color);
}

.add-cart:hover i{
    color: #fff;
}

.content-card-product .price{
    justify-content: end;
    align-self: center;

    font-size: 1.7rem;
    font-weight: 600;
}

.content-card-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: #777;
    margin-left: .5rem;
}